@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #E3E9F7;
}

main {
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar {
    position: fixed; /* Torna o sidebar fixo */
    top: 0; /* Define a posição inicial do topo */
    bottom: 0; /* Define a posição inicial da base */
    left: 0; /* Define a posição inicial da esquerda */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 0px 18px 18px 0px;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#InfoSite {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#logo_site {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}


.side-item {
    border-radius: 8px;
    padding: 12px;
    padding-right: 4px;
    padding-left: 4px;
    cursor: pointer;
    display: center;
    display: flex;
}

.side-item.active {
    background-color: #ED4E2E;
    color: white;
    transition: background-color 2s; 
    /* Adicione a transição para largura e opacidade */
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #E3E9F7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
    text-align: left;
    gap: 14px;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 12px;
    margin-left: 12px;
}

#perfil {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#user_perfil a {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #0a0a0a;
    text-decoration: none
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #ED4E2E;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px; /* Inicia com largura zero para estar oculto */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .5s ease-in-out, opacity .5s ease-in-out; /* Adicione a transição para largura e opacidade */
    opacity: 0; /* Começa com opacidade 0 */
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    opacity: 1; /* Ao abrir o sidebar, aumenta a opacidade para 1 */
}

#sidebar:not(.open-sidebar) .item-description {
    width: 0px; /* Ao fechar o sidebar, volta para largura zero */
    opacity: 0; /* Diminui a opacidade gradualmente ao fechar */
    pointer-events: none; /* Desativa eventos de mouse para que os ícones possam estar próximos do texto oculto */
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

#open_btn.open-sidebar {
    right: 10px; /* Ajuste a posição para a direita conforme necessário */
}



